{% extends 'base/base.html' %}
{% load static %}

{% block "title" %}#GST - Contactez-nous{% endblock "title" %}

{% block "body" %}

<!-- Start Header -->
<div class="fables-header fables-after-overlay">
    <div class="container"> 
      <h2 class="fables-page-title fables-second-border-color"><span class="fables-second-text-color">#GST</span> Contactez-nous</h2>
    </div>
</div>  
<!-- /End Header -->
     

     
<!-- Start page content --> 

    <div class="container"> 
        <div class="row overflow-hidden">
             <div class="col-12 col-md-4 text-center px-4 px-lg-5 my-4 my-lg-5 wow fadeInDown" data-wow-delay=".2s">
                  <div class="fables-second-border-color border fables-contact-block-border fables-rounded px-2">
                        <span class="fables-iconmap-icon fa-3x fables-second-text-color fables-contact-icon bg-white d-inline-block px-4"></span> 
                        <h2 class="font-16 semi-font fables-main-text-color my-3">Situation géographique</h2>
                        <p class="font-14 fables-forth-text-color">
                        Port-bout, rue de la baltique, Abidjan - Côte d'Ivoire</p>        
                  </div> 
             </div>
             <div class="col-12 col-md-4 text-center px-4 px-lg-5 my-4 my-lg-5 wow fadeInDown" data-wow-delay=".5s">
                  <div class="fables-second-border-color border fables-contact-block-border fables-rounded px-2">
                    <span class="fables-iconphone fa-3x fables-second-text-color fables-contact-icon bg-white d-inline-block px-4"></span>
                    <h2 class="font-16 semi-font fables-main-text-color my-3">Mail & Téléphone</h2>
                    <p class="font-14 fables-forth-text-color text-truncate">info@gstechnologie.com</p>
                    <p class="font-14 fables-forth-text-color">(+225) 27 215 438 05 / 27 215 425 45</p>
                 </div> 
             </div>
             <div class="col-12 col-md-4 text-center px-4 px-lg-5 my-4 my-lg-5 wow fadeInDown" data-wow-delay=".8s">
                 <div class="fables-second-border-color border fables-contact-block-border fables-rounded px-2">
                        <span class="fables-iconshare-icon fa-3x fables-second-text-color fables-contact-icon bg-white d-inline-block px-4"></span>
                        <h2 class="font-16 semi-font fables-main-text-color my-3">Restons connecter</h2>
                        <ul class="nav fables-contact-social-links"> 
                            <li><a href="#" target="_blank"><i class="fab fa-facebook-f fables-forth-text-color fa-fw"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-instagram fables-forth-text-color  fa-fw"></i></a></li> 
                            <li><a href="#" target="_blank"><i class="fab fa-twitter fables-forth-text-color    fa-fw"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-linkedin fables-forth-text-color   fa-fw"></i></a></li>
                        </ul>
                 </div> 
             </div>
        </div>        
        <div class="row mt-0 mb-4 my-md-3 overflow-hidden"> 
           <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <h1 class="font-weight-bold fables-main-text-color display-3 text-center title">Contactez-nous !</h1> 
                <p class="fables-contact-text fables-forth-text-color text-center">Une question, une préoccupation, un renseignement... Profitez de notre espace infoline pour obtenir toutes les informations nécessaires et répondre à vos questions </p>
           </div>  
                  
        </div><br><br>    
        <div class="row">
            <div class="col-12 wow fadeInLeft">
                <form  class="fables-contact-form formShamman" classname="NewletterForm">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control p-3 fables-rounded" name="nom"  placeholder="Nom">   
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control p-3 fables-rounded" name="prenoms"  placeholder="Prénoms">  
                        </div> 
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="email" class="form-control p-3 fables-rounded" name="email" placeholder="Adresse email"> 
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control p-3 fables-rounded" name="subject" placeholder="Object"> 
                        </div> 
                    </div> 
                    <div class="form-row"> 
                        <div class="form-group col-md-12">
                            <textarea class="form-control p-3 fables-rounded" name="message" placeholder="Ecrivez votre message ici" rows="4"></textarea>
                        </div> 
                    </div>
                    <div class="form-row">
                        <div class="col-md-12 text-center">
                            <button type="submit" class="btn fables-second-background-color 
                            text-white fables-btn-rounded px-7 py-2 font-20">Envoyer le message</button>
                        </div>
                    </div>
                </form>                  
            </div>
            
        </div> <br><br>
    </div> 
<!-- /End page content -->

{% endblock "body" %}