{% extends 'base/base.html' %}
{% load static %}


{% block "body" %}

     
<!-- Start Header -->
<div class="fables-header fables-after-overlay bg-rules">
    <div class="container"> 
         <h2 class="fables-page-title fables-second-border-color wow fadeInLeft" data-wow-duration="1.5s">Notre Expertise</h2>
    </div>
</div>  
<!-- /End Header -->
     
<!-- Start Breadcrumbs -->
<div class="fables-light-gary-background">
    <div class="container"> 
        <nav aria-label="breadcrumb">
          <ol class="fables-breadcrumb breadcrumb px-0 py-3">
           
          </ol>
        </nav> 
    </div>
</div>
<!-- /End Breadcrumbs -->
     
<!-- Start page content -->  
       <div class="container">
            <div class="my-4 my-md-5 overflow-hidden">
               
                <div class="row">
                    <div class="col-12 col-md-4 mb-4 mb-md-0 wow fadeInDown" data-wow-delay=".3s">
                        <div class="fables-about-icon-style"> 
                            <span class="fables-iconmobileApp-icon fables-second-text-color fa-3x"></span>
                            <h2 class="fables-second-text-color fables-about-icon-head mt-3 mb-2 font-18 semi-font">Innovation Continue</h2>
                            <span class="fables-title-border fables-second-background-color"></span>
                            <div class="fables-forth-text-color mt-3 font-14">
                                Nous nous engageons à rester à la pointe des avancées technologiques. Notre capacité à innover nous permet de proposer des solutions créatives et adaptées à l'évolution constante du secteur.
                            </div>

                        </div>
                    </div>  
                    <div class="col-12 col-md-4 mb-4 mb-md-0 wow fadeInDown" data-wow-delay=".6s">
                       <div class="fables-about-icon-style">
                           <span class="fables-icondevelopment-icon fables-second-text-color fa-3x"></span>
                           <h2 class="fables-second-text-color fables-about-icon-head mt-3 mb-2 font-18 semi-font"> Expertise Approfondie</h2>
                           <span class="fables-title-border fables-second-background-color"></span>
                           <div class="fables-forth-text-color mt-3 font-14">
                            Notre équipe possède une expertise pointue dans les domaines des TIC et de la connectivité, garantissant des solutions de haute qualité et des résultats optimaux.
                            </div>
                        </div> 
                    </div>
                    <div class="col-12 col-md-4 mb-4 mb-md-0 wow fadeInDown" data-wow-delay=".9s">
                       <div class="fables-about-icon-style"> 
                            <span class="fables-iconwebDesign-icon fables-second-text-color fa-3x"></span>
                           <h2 class="fables-second-text-color fables-about-icon-head mt-3 mb-2 font-18 semi-font">Approche Personnalisée</h2>
                           <span class="fables-title-border fables-second-background-color"></span>
                            <div class="fables-forth-text-color mt-3 font-14">
                                Chaque projet est traité de manière unique, en prenant en compte les besoins spécifiques de nos clients. Notre approche sur mesure garantit des résultats qui répondent parfaitement à vos exigences.
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
       </div>
       <div class="container-fluid"> 
           <div class="row overflow-hidden">
               <div class="col-12 col-sm-6 p-sm-0 mb-3 mb-md-0 image-container translate-effect-right wow fadeInLeft" data-wow-durationn="2.5s">
                   <img src="{% static 'assets/custom/images/hp_innovacion2.jpg' %}" alt="Fables Template" class="img-fluid">
               </div>
               <div class="col-12 col-sm-6 p-sm-0 image-container translate-effect-right wow fadeInRight" data-wow-durationn="2.5s">
                   <img src="{% static 'images/missions/mission3.jpg' %}" alt="Fables Template" class="img-fluid">
               </div>
           </div>
           
       </div>
       <div class="fables-counter-no-background my-4 my-md-5 overflow-hidden">
           <div class="container">
               <div class="fables-about-head-style">
                    <div class="row wow fadeInDown" data-wow-delay=".5s">
                        <div class="col-12 text-center">
                            <h3 class="fables-about-top-head fables-forth-text-color font-15 semi-font d-inline-block bg-white position-relative">
                                
                            </h3>
                            <h2 class="fables-second-text-color mt-3 font-30 font-weight-bold text-center">Nos expertises techniques vous offrent une grande valeur</h2>  
                        </div>
                        <div class="col-12 col-md-10 offset-md-1 mt-3 mb-5">
                            <p class="fables-forth-text-color text-center">
                                Nous avons marqué l'industrie des TIC grâce à une série de projets d'ampleur, laissant une empreinte durable. Notre expertise s'est illustrée dans la mise en place de réseaux complexes, l'innovation technologique et la création de plateformes numériques performantes.
                            </p>
                        </div> 
                    </div>
                </div>
               
               <div class="row wow fadeIn" data-wow-delay=".8s">
                   <div class="col-6 col-md-3">
                       <div class="fables-counter">
                           <h2 class="fables-counter-value font-40 font-weight-bold mb-3 fables-forth-text-color" data-count="63">0</h2>
                           <h3 class="font-14 semi-font fables-forth-text-color">PROJETS REALISES</h3>
                       </div>
                   </div>
                   <div class="col-6 col-md-3">
                       <div class="fables-counter">
                           <h2 class="fables-counter-value font-40 font-weight-bold mb-3 fables-forth-text-color" data-count="45">0</h2>
                           <h3 class="font-14 semi-font fables-forth-text-color">CLIENTS SATISFAITS</h3>
                       </div>
                   </div>
                   <div class="col-6 col-md-3">
                       <div class="fables-counter">
                           <h2 class="fables-counter-value font-40 font-weight-bold mb-3 fables-forth-text-color" data-count="7">0</h2>
                           <h3 class="font-14 semi-font fables-forth-text-color">ENTREPRISES PARTENAIRES</h3>
                       </div>
                   </div>
                   <div class="col-6 col-md-3">
                       <div class="fables-counter">
                           <h2 class="fables-counter-value font-40 font-weight-bold mb-3 fables-forth-text-color" data-count="16">0</h2>
                           <h3 class="font-14 semi-font fables-forth-text-color">ANS D'EXPERIENCE</h3>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       
       <div class="fables-history-section mb-4 mb-md-5">
           <div class="container">
               <div class="fables-about-head-style">
                    <div class="row wow fadeInDown" data-wow-delay=".5s">
                        <div class="col-12 text-center">
                           
                            <h2 class="fables-second-text-color mt-3 font-30 font-weight-bold text-center">Quelques grands projets</h2> 
                            <div class="col-12 col-md-10 offset-md-1">
                                <p class="fables-forth-text-color mt-3 mb-4 mb-md-5">
                                    De la fibre optique aux sites web, notre portefeuille reflète un engagement envers la qualité. Ces projets variés témoignent de notre contribution au succès de nos clients. Avec une expertise diversifiée et une passion pour l'excellence, nous surpassons les attentes, tout en continuant à façonner l'avenir des TIC et au-delà.
                                </p>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="fables-history-carousel">  
                       
                        <div id="sync1" class="owl-carousel owl-theme">
                             
                              
                        </div>
                </div>
           </div>
       </div>
       
           <div class="bg-rules mb-4 mb-lg-0 py-3 py-lg-0" style="background-image: url({% static 'images/code.jpg' %})">  
               <div class="container-fluid">             
                    <div class="row overflow-hidden">    
                        <div class="col-12 col-lg-6 offset-lg-6 p-lg-0">  
                            <div class="fables-vision-overlay fables-after-overlay bg-rules">
                                <h2 class="fables-second-text-color my-0 font-30 font-weight-bold position-relative z-index wow fadeInRight" data-wow-duration="2s">Nous aimons ce que nous faisons <br> & nous le faisons avec passion</h2>
                                <p class="fables-fifth-text-color position-relative z-index mt-4 mb-4 mb-md-5 wow fadeInRight" data-wow-duration="2s">
                                    Nous adorons ce que nous faisons et cela se reflète dans chaque aspect de notre travail. Chaque projet est une opportunité de mettre en œuvre notre passion pour l'innovation et l'excellence. <br><br>
                                    De la conception minutieuse à l'exécution soignée, nous nous engageons avec enthousiasme à offrir des solutions qui dépassent les attentes. Cette passion est la force motrice qui anime notre équipe à repousser les limites et à façonner un avenir où la technologie et la créativité se rejoignent harmonieusement.
                                </p>
                                <a href="{% url 'mainApp:contacts' %}" class="btn fables-second-border-color white-color fables-btn-rouned fables-hover-btn-color font-19 px-5 py-2 position-relative z-index wow fadeInRight" data-wow-duration="2s"><span>Contactez-nous</span></a>
                            </div>

                        </div>
                    </div>
              </div>
            </div>
            <div class="bg-rules mb-4 py-3 py-lg-0" style="background-image: url({% static 'images/cables.jpg' %})"> 
                 <div class="container-fluid">
                   <div class="row overflow-hidden"> 
                    <div class="col-12 col-lg-6 p-lg-0"> 
                        <div class="fables-vision-overlay fables-after-overlay fables-light-overlay bg-rules">
                            <h2 class="fables-second-text-color my-0 font-30 font-weight-bold position-relative z-index wow fadeInLeft" data-wow-duration="2s">Nous gagnons la confiance et <br> la loyauté de nos clients</h2>
                            <p class="fables-forth-text-color position-relative z-index mt-4 mb-4 mb-md-5 wow fadeInLeft" data-wow-duration="2s">
                                Gagner la confiance et la loyauté de nos clients est au cœur de notre mission. À travers chaque projet réussi, nous établissons des relations solides fondées sur la qualité, la transparence et l'engagement envers leurs objectifs. <br><br>
                                 Nous sommes fiers de cultiver des partenariats durables, où la satisfaction de nos clients est notre plus grande récompense. Leur confiance en notre expertise et en notre dévouement est ce qui nous motive à continuer à exceller et à évoluer dans le monde en constante évolution des technologies.
                            </p>
                            <a href="{% url 'mainApp:contacts' %}" class="btn fables-second-border-color fables-second-text-color fables-btn-rouned fables-hover-btn-color font-19 px-5 py-2 position-relative z-index wow fadeInLeft" data-wow-duration="2s"><span>Contactez-nous</span></a>
                        </div>                    
                    </div>

                </div>
             </div>  
         </div> 



        <div class="fables-light-background-color py-3 py-md-4 py-lg-5">
            <div class="container-fluid">
                <div class="owl-carousel owl-theme px-6 mt-0 mb-4 my-lg-5" id="fables-partner-carousel">
                   <div> 
                       <img style="height:80px" src="{% static 'images/partenaires/ci-cables.jpeg' %}" alt="logo partenaire" class="border-hover img-responsive fables-partner-carousel-img">  
                   </div>
                   
                   <div> 
                       <img style="height:80px" src="{% static 'images/partenaires/mairie.jpeg' %}" alt="logo partenaire" class="border-hover img-responsive fables-partner-carousel-img">  
                   </div>
                   <div> 
                       <img style="height:80px" src="{% static 'images/partenaires/moov.jpeg' %}" alt="logo partenaire" class="border-hover img-responsive fables-partner-carousel-img">  
                   </div>
                   <div> 
                       <img style="height:80px" src="{% static 'images/partenaires/mtn-ci.jpg' %}" alt="logo partenaire" class="border-hover img-responsive fables-partner-carousel-img">  
                   </div>
                   <div> 
                       <img style="height:80px" src="{% static 'images/partenaires/orange.png' %}" alt="logo partenaire" class="fborder-hover img-responsive ables-partner-carousel-img"> 
                   </div>
                   <div> 
                    <img style="height:80px" src="{% static 'images/partenaires/cisco.jpg' %}" alt="logo partenaire" class="border-hover img-responsive fables-partner-carousel-img">  
                </div>
                <div> 
                    <img style="height:80px" src="{% static 'images/partenaires/coulland.jpeg' %}" alt="logo partenaire" class="border-hover img-responsive fables-partner-carousel-img">  
                </div>
                <div> 
                    <img style="height:80px" src="{% static 'images/partenaires/itc.jpeg' %}" alt="logo partenaire" class="border-hover img-responsive fables-partner-carousel-img">  
                </div>
                <div> 
                    <img style="height:80px" src="{% static 'images/partenaires/juniper.png' %}" alt="logo partenaire" class="border-hover img-responsive fables-partner-carousel-img">  
                </div>
                
                 </div>  
            </div>
        </div>
        
    </div>
      
<!-- /End page content -->
    

{% endblock "body" %}