[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-annoying = "*"
mysqlclient = "==2.1.1"
pillow = "*"
python-dateutil = "*"
install = "*"
qrcode = "*"
tzdata = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.8"
