{% load static %}

<script src="{% static 'assets/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'assets/vendor/loadscreen/js/ju-loading-screen.js' %}"></script>
<script src="{% static 'assets/vendor/jquery-circle-progress/circle-progress.min.js' %}"></script>
<script src="{% static 'assets/vendor/popper/popper.min.js' %}"></script>
<script src="{% static 'assets/vendor/jQuery.countdown-master/jquery.countdown.min.js' %}"></script>
<script src="{% static 'assets/vendor/timeline/jquery.timelify.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap-4-navbar.js' %}"></script>
<script src="{% static 'assets/vendor/WOW-master/dist/wow.min.js' %}"></script>
<script src="{% static 'assets/vendor/owlcarousel/owl.carousel.min.js' %}"></script> 
<script src="{% static 'assets/custom/js/jquery-data-to.js' %}"></script>   
<script src="{% static 'assets/vendor/jquery-circle-progress/circle.js' %}"></script>
<script src="{% static 'assets/vendor/portfolio-filter-gallery/jquery.isotope.min.js' %}"></script>
<script src="{% static 'assets/vendor/portfolio-filter-gallery/portfolio-filter-gallery.js' %}"></script>
<script src="{% static 'assets/vendor/fancybox-master/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'assets/vendor/timeline/timeline.js' %}"></script>
<script src="{% static 'assets/vendor/timeline/modernizr.js' %}"></script>
<script src="{% static 'assets/custom/js/custom.js' %}"></script>
<script src="{% static 'assets/custom/js/particles.min.js' %}"></script>

<script src="{% static 'assets/vendor/toastr/toastr.min.js' %}"></script>

<script src="{% static 'shamman/functions.js' %}"></script>
<script src="{% static 'shamman/alerter.js' %}"></script>
<script src="{% static 'shamman/loader.js' %}"></script>
<script src="{% static 'shamman/traitement.js' %}"></script>
<script src="{% static 'shamman/general.js' %}"></script>
