{% load static %}


<html lang="en">
<head>
    <title> {% block "title" %}Foire Africaine de Paris{% endblock "title" %} </title>
    {% include "../partials/meta.html" %}
    {% include "../partials/import_css.html" %}
</head>


<body >

<div class="search-section">
    <a class="close-search" href="#"></a>
    <div class="d-flex justify-content-center align-items-center h-100">
        <form method="post" action="#" class="w-50">
            <div class="row">
                <div class="col-10">
                    <input type="search" value="" class="form-control palce bg-transparent border-0 search-input" placeholder="Rechercher ..." /> 
                </div>
                <div class="col-2 mt-3">
                     <button type="submit" class="btn bg-transparent text-white"> <i class="fas fa-search"></i> </button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Loading Screen -->
<div id="ju-loading-screen">
    <div class="sk-double-bounce">
        <div class="sk-child sk-double-bounce1"></div>
        <div class="sk-child sk-double-bounce2"></div>
    </div>
</div>
 
 
<!-- /End Top Header -->
{% include "../partials/header.html" %}


<div id="particles-js">   
    <!-- Start page content -->    
    {% block "body" %}
    <h1>"hello world"</h1>
    {% endblock "body" %}     
    <!-- /End page content -->
</div>
    


<!-- Start Footer 2 Background Image  -->
{% include "../partials/footer.html" %}
<!-- /End Footer 2 Background Image -->




{% include "../partials/import_js.html" %}

</body>
</html>